extends ./layout.jade

block content
  .title
    img(src="/images/logo.svg")
  .content
    - var email = mangle('contact@jepso.com')
    p.
      We build bespoke software tools to help small and medium sized
      businesses communicate and keep track of information. If you
      would like to talk to us about how we can help your business,
      please get in touch via #[a(href!="mailto:" + email)!= email].